// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


$brand-primary: #4D83AF;

$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

// $blue:    #007bff;
$blue: #00405A;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
// $red:     #dc3545;
$red: #E84541;
// $orange:  #fd7e14;
$orange: #FF9434;
// $yellow:  #ffc107;
$yellow: #FFCA6C;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$cream: #F1E7C7;

$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  // dark: $gray-800
  dark: #00405A
);
